{% extends 'AppBundle:home:index.html.twig' %}

{% block body %}
    <h1>Portfolio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolio.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ portfolio.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portfolio_index') }}">{{ 'portfolio.form.list.label'|trans }}</a>
        </li>
    </ul>
{% endblock %}
